:root {

    --mainColor: rgb(12, 75, 124);
    --secColor: rgb(0, 204, 235);
    /* --mainColor: rgb(145, 0, 145);
    --secColor: rgb(255, 17, 255); */
    --menuColor: rgba(255, 255, 255, 0.6);
    --mainMenuColor: rgb(0, 0, 0);
    --mainFont: "Silkscreen", sans-serif;
    --secFont: "Audiowide", sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: var(--secFont);
    overflow: hidden;
}

h1,
h2 {
    font-family: var(--mainFont);
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    color: var(--mainColor);

    span {
        color: var(--secColor);
    }
}

h2 {
    font-weight: 200;
}


canvas {
    border: 4px solid #fff;
    border-bottom: transparent;
    background: url('./img/bg-1.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    display: block;
}

ul {
    list-style: none;
}


#menu-container {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -49.5%;
    width: 635px;
    height: 500px;
    background-image: url('img/bg-main.jpg');
    background-position: center center;
    background-size: cover;
    background-color: var(--mainMenuColor);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
}

#menu {
    text-align: center;
    color: white;

    h2 {
        font-size: 3em;
        margin-top: 0;
        margin-bottom: 20px;
    }

    hr {
        margin: 10px 0;
        border: none;
        border-top: 1px solid #ccc;
    }
}


#pause-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--menuColor);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: none;

    h2 {
        margin-top: 0;
    }
}

#pause-menu,
#victory-message,
#loose-message {
    display: none;
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-58%, -50%);
    background-color: var(--menuColor);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: var(--mainMenuColor);
}

.boton {
    margin: 10px;
}

button {
    padding: 15px;
    background-color: var(--mainColor);
    border: none;
    text-align: center;
    color: white;
    border-radius: 10px;
    width: 240px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--secFont);

    &:hover {
        background-color: var(--secColor);
    }
}

.campo {
    label {
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        margin-bottom: 10px;
    }

    select {
        padding: 1rem;
        display: block;
        width: 100%;
        background-color: white;
        border: 1px solid grey;
        border-radius: 10px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 1.2em;

        &:hover {
            border-color: var(--mainColor);
            color: var(--mainColor);
            cursor: pointer;
        }

    }

}

.app {
    display: flex;
}

#menu-container.hidden {
    display: none;
}

.score {
    position: absolute;
    top: 17%;
    right: 29%;
    z-index: 10;
    padding: 15px;
    /* background-color: var(--mainColor); */
    background-color: var(green);
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

.enlaces-menu {
    color: var(--secColor);
    text-decoration: none;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100px;
    margin: 0 auto;

    &:hover {
        cursor: pointer;
        color: var(--mainColor);
    }

}